<!-- 加载static文件夹路径 -->
{% load static %}
<!DOCTYPE html>

<head>
    <!-- jquery -->
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <!-- 引入css和js文件 -->
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <script src="{% static 'js/dist/game.js' %}"></script>
</head>

<body style"margin: 0">
    <div id="game_1"></div>
    <script type="module"> // type + import 模块化，只将AcGame类暴露在页面的代码中
        import {AcGame} from "{% static 'js/dist/game.js' %}";
        $(document).ready(function(){
            let ac_game = new AcGame("game_1", null, "{{ access }}", "{{ refresh }}");
            // 获取从game/views/index.py中传过来的参数信息
        });
    </script>

</body>
